.header__link {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    padding-right: 18px;
    transition: all 1s ease-out;;
}
.header__link:last-child {
    padding-right: 0;
}
.header__link:hover {
    text-decoration: underline;
}
@media screen and (max-width: 375px) {
    .header__link {
        font-size: 16px;
        padding-right: 16px;
    }
}