.comments__autor {
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}
@media screen and (max-width: 768px) {
    .comments__autor {
        order: 1;
        margin-bottom: 24px;
    }
}